In [1]:
from Bio.PDB import PDBParser
from src.ChainUnit import ChainUnit
import os
import pandas as pd
import numpy as np

np.set_printoptions(
            formatter={"float": lambda x: "{0:0.3f}".format(x)},
            linewidth=100,
            suppress=True,
        )

In [2]:
pdb_path = "data/processed_pdbs/3UDG.pdb"
parser = PDBParser()
structure = parser.get_structure("3UDG", pdb_path)

/Users/marvinprakash/mambaforge/envs/bio/lib/python3.11/site-packages/Bio/PDB/PDBParser.py:395: PDBConstructionWarning: Ignoring unrecognized record 'END' at line 5502
  warnings.warn(

In [3]:
chain = structure[0]["A"]

res = chain.get_residues().__next__()
unit = ChainUnit(res)
print(unit.coms)

{'ca_coords': [-2.455 1.216 -13.840], 'sidechain_com': [-3.823 3.243 -9.949]}

In [4]:
unit.fidelity

True

In [5]:
unit.coms

{'ca_coords': [-2.455 1.216 -13.840], 'sidechain_com': [-3.823 3.243 -9.949]}

In [6]:
unit.to_dict()

{'resname': 'ARG',
 'id': 3,
 'unit_type': 'type_2',
 'ca_coords': [-2.455 1.216 -13.840],
 'sidechain_com': [-3.823 3.243 -9.949]}

In [7]:
from src.Chain import Chain

In [8]:
chain1 = Chain(chain)
print(chain1.df.head())

  resname  id unit_type                ca_coords           sidechain_com
0     ARG   3    type_2   [-2.455 1.216 -13.840]   [-3.823 3.243 -9.949]
1     GLY   4    type_1  [-0.123 -0.589 -11.553]                    None
2     MET   5    type_2   [-0.004 -2.524 -8.344]  [-2.114 -4.600 -6.635]
3     ASN   6    type_1    [3.231 -3.630 -6.904]                    None
4     HIS   7    type_2    [3.802 -5.462 -3.595]   [1.020 -4.071 -2.956]

In [9]:
chain1.get_bb_distances()

array([3.732, 3.749, 3.710, 3.825, 3.726, 3.749, 3.701, 3.795, 3.767, 3.828, 3.782, 3.801, 3.819,
       3.816, 3.765, 3.815, 3.796, 3.816, 3.900, 3.817, 3.879, 3.812, 3.843, 3.860, 3.838, 3.845,
       3.752, 3.792, 3.758, 3.741, 3.748, 3.763, 3.688, 3.770, 3.776, 3.798, 3.841, 3.808, 3.827,
       4.168, 3.832, 3.805, 3.811, 3.850, 3.815, 3.833, 3.799, 3.758, 3.751, 3.802, 3.810, 3.823,
       3.806, 3.762, 3.824, 3.932, 3.774, 3.785, 3.817, 3.844, 3.802, 3.829, 3.841, 3.824, 3.790,
       3.808, 3.747, 3.840, 3.780, 3.806, 3.763, 3.687, 3.772, 3.768, 3.793, 3.753, 3.821, 3.830,
       3.862, 3.788, 3.883, 3.845, 3.792, 3.944, 3.814, 3.786, 3.842, 3.810, 3.766, 3.821, 3.790,
       3.769, 3.830, 3.838, 3.798, 3.826, 3.810, 3.751, 3.800, 3.811, 3.762, 3.860, 3.756, 3.839,
       3.866, 3.706, 3.804, 3.748, 3.785, 3.850, 3.858, 3.845, 3.808, 3.844, 3.811, 3.761, 3.736,
       3.805, 3.784, 3.793, 3.793, 3.802, 3.718, 3.732, 3.791, 3.779, 3.734, 3.748, 3.771, 3.805,
       3.797, 3.851, 3.825, 3.828, 3.807, 3.801, 3.767, 3.826, 3.812, 3.723, 3.796, 3.813, 3.799,
       3.865, 3.800, 3.839, 3.830, 3.822, 3.679, 3.765, 3.726, 3.812, 3.818, 3.845, 3.814, 3.824,
       3.839, 8.186, 3.825, 3.812, 3.812, 3.784, 3.736, 3.761, 3.751, 3.783, 3.781, 3.749, 3.768,
       3.803, 3.898, 3.838, 3.832, 3.813, 3.810, 3.810, 3.849, 3.822, 3.842, 3.812, 3.856, 3.801,
       3.747, 3.806, 3.785, 3.823, 3.721, 3.767, 3.838, 3.751, 3.722, 3.758, 3.725, 3.878, 3.799,
       3.832, 4.787, 3.837, 3.864, 3.814, 3.786, 3.861, 3.804, 3.798, 3.727, 3.828, 3.741, 3.817,
       3.829, 3.874], dtype=float32)

In [10]:
df_bs = chain1.get_bs_distances()
df_bs["distance"] = df_bs["distance"].astype(np.float64)
df_bs["distance"].describe()

count    86.000000
mean      3.518401
std       0.649517
min       2.054712
25%       3.169668
50%       3.449373
75%       3.880037
max       4.804745
Name: distance, dtype: float64

In [11]:
df_bbb = chain1.get_bbb_angles()
df_bbb

array([142.562, 120.917, 127.499, 135.007, 125.746, 121.101, 134.010, 109.975, 144.909, 129.664,
       100.425, 87.347, 139.590, 117.843, 121.655, 131.774, 116.764, 140.495, 132.088, 126.554,
       88.865, 86.893, 93.030, 112.675, 117.244, 121.553, 114.431, 132.179, 137.423, 109.369,
       114.674, 137.924, 151.677, 125.249, 124.177, 95.362, 105.497, 99.583, 68.763, 102.062,
       130.697, 104.581, 111.074, 123.064, 139.036, 119.410, 131.737, 105.474, 121.615, 134.477,
       118.078, 133.755, 127.796, 94.085, 85.167, 87.898, 92.625, 87.414, 94.170, 89.366, 87.199,
       89.681, 98.853, 117.686, 138.718, 107.470, 99.557, 111.429, 117.704, 141.821, 116.273,
       129.269, 110.897, 149.192, 136.124, 110.592, 118.765, 115.022, 129.630, 121.429, 143.222,
       112.589, 115.679, 85.486, 88.573, 129.212, 137.436, 119.401, 131.348, 138.045, 141.121,
       115.140, 136.276, 120.409, 109.097, 119.179, 86.014, 142.251, 124.988, 130.476, 121.786,
       116.778, 94.656, 127.451, 105.467, 124.838, 110.618, 116.717, 107.409, 118.069, 133.647,
       97.980, 97.598, 99.858, 134.983, 131.373, 129.703, 118.548, 113.666, 94.487, 131.507,
       132.285, 127.051, 135.823, 131.823, 118.757, 135.841, 125.099, 142.557, 126.056, 106.781,
       98.406, 141.813, 107.723, 123.383, 128.414, 115.129, 133.766, 127.465, 121.330, 88.745,
       91.902, 99.669, 120.819, 109.224, 129.176, 123.593, 111.732, 124.472, 120.299, 138.446,
       116.364, 109.309, 114.338, 124.974, 122.383, 115.885, 38.028, 123.835, 134.940, 125.138,
       130.334, 122.581, 114.668, 107.260, 127.842, 125.658, 132.870, 118.721, 116.011, 133.909,
       113.765, 93.181, 87.903, 87.109, 98.333, 91.055, 99.378, 91.650, 96.184, 116.044, 137.974,
       105.392, 98.284, 112.719, 111.343, 142.209, 121.813, 130.717, 122.111, 145.724, 129.055,
       109.224, 138.214, 105.693, 79.593, 84.826, 114.068, 134.563, 109.776, 100.941, 120.412,
       90.949, 135.934, 129.409, 127.382, 111.696, 127.052, 127.942])

In [12]:
df_sbb = chain1.get_sbb_angles()
df_sbb

   resname       angle
0      ARG   83.129474
1      MET   99.386493
2      HIS  144.573243
3      TYR  156.759283
4      ILE  130.257182
..     ...         ...
80     GLU  103.112214
81     ARG  135.314411
82     GLU  112.281932
83     ARG   94.201194
84     GLU  130.667096

[85 rows x 2 columns]

In [13]:
df_bbs = chain1.get_bbs_angles()
df_bbs

   resname       angle
0      GLY  136.210745
1      ASN   80.419748
2      VAL   82.079066
3      LEU  118.721166
4      ALA  103.794029
..     ...         ...
80     THR   88.278482
81     VAL  142.443493
82     THR  129.749094
83     VAL   99.273487
84     ALA  127.795296

[85 rows x 2 columns]

In [14]:
df_bbbb = chain1.get_bbbb_dihedrals()
df_bbbb

array([174.414, 176.819, 156.150, 176.441, 170.352, 177.711, 170.305, 119.744, 88.622, 103.328,
       150.102, 22.310, 38.720, 125.327, 141.373, 149.188, 165.686, 131.226, 137.227, 94.698,
       53.324, 108.511, 156.027, 124.544, 169.524, 163.276, 168.233, 163.010, 132.702, 163.870,
       179.573, 140.399, 113.273, 149.842, 137.066, 159.780, 131.154, 73.523, 98.914, 137.896,
       136.898, 172.606, 161.998, 178.624, 161.441, 176.093, 132.591, 166.869, 167.262, 163.484,
       154.296, 5.244, 13.252, 58.777, 63.745, 41.851, 53.231, 48.515, 50.566, 63.859, 66.685,
       143.159, 172.898, 156.141, 70.064, 26.779, 131.607, 130.591, 175.539, 132.883, 164.806,
       168.265, 127.204, 109.396, 97.963, 158.291, 155.527, 172.408, 169.787, 153.450, 105.090,
       128.365, 118.488, 57.660, 99.231, 82.405, 72.745, 175.942, 179.013, 171.917, 134.546,
       164.843, 90.650, 165.596, 144.033, 174.675, 8.793, 173.677, 179.343, 116.878, 119.915,
       140.249, 65.505, 111.435, 147.197, 95.024, 147.248, 153.862, 133.425, 154.942, 104.108,
       53.839, 89.391, 116.172, 138.893, 163.962, 105.056, 136.112, 21.361, 165.018, 125.462,
       173.219, 158.587, 175.157, 175.666, 164.272, 166.882, 119.843, 69.252, 109.291, 156.171,
       0.195, 77.214, 140.199, 147.670, 117.278, 178.108, 129.711, 131.836, 95.758, 54.967,
       101.500, 147.681, 119.238, 178.937, 167.982, 148.857, 165.417, 161.764, 177.840, 139.090,
       159.902, 144.530, 171.124, 168.940, 146.576, 1.616, 79.287, 176.069, 143.864, 179.362,
       152.368, 160.605, 150.603, 177.798, 144.908, 167.544, 148.605, 167.807, 155.147, 34.742,
       9.141, 54.513, 51.221, 44.555, 51.685, 46.142, 109.972, 63.277, 128.123, 156.929, 81.819,
       23.271, 138.224, 129.216, 177.766, 144.148, 178.077, 174.005, 104.374, 52.709, 120.063,
       174.719, 122.805, 116.167, 48.355, 52.801, 168.704, 122.373, 149.728, 133.536, 169.471,
       15.266, 175.756, 169.771, 138.875, 150.067, 93.161])

In [15]:
df_sbbs = chain1.get_sbbs_dihedrals()
df_sbbs

array([164.663, 167.969, 151.664, 120.246, 177.360, 105.402, 40.222, 18.172, 38.283, 84.803,
       176.705, 164.839, 135.334, 174.341, 161.812, 168.640, 152.916, 76.476, 114.493, 135.525,
       86.123, 132.578, 105.967, 56.996, 149.177, 168.505, 136.955, 156.266, 165.153, 136.727,
       39.831, 150.005, 8.940, 16.429, 162.606, 166.769])

In [16]:
df_sbbb = chain1.get_sbbb_dihedrals()
df_sbbb

   resname    dihedral
0      ARG   49.410929
1      MET   21.029216
2      HIS    3.434827
3      TYR    6.789016
4      ILE   72.357181
..     ...         ...
80     GLU  168.878247
81     ARG   78.275748
82     GLU   28.601990
83     ARG    0.404488
84     GLU   63.635917

[85 rows x 2 columns]

In [18]:
df_bbbs = chain1.get_bbbs_dihedrals()
df_bbbs

   resname    dihedral
0      GLY   31.497602
1      ASN   23.923081
2      VAL   11.438883
3      LEU   20.206917
4      ALA  126.223752
..     ...         ...
80     THR   25.660358
81     VAL   58.022595
82     THR  159.751221
83     VAL    6.883259
84     ALA  113.374739

[85 rows x 2 columns]

In [17]:
for chain in structure[0]:
    print(Chain(chain).df.head())
    print("\n")

  resname  id unit_type                ca_coords           sidechain_com
0     ARG   3    type_2   [-2.455 1.216 -13.840]   [-3.823 3.243 -9.949]
1     GLY   4    type_1  [-0.123 -0.589 -11.553]                    None
2     MET   5    type_2   [-0.004 -2.524 -8.344]  [-2.114 -4.600 -6.635]
3     ASN   6    type_1    [3.231 -3.630 -6.904]                    None
4     HIS   7    type_2    [3.802 -5.462 -3.595]   [1.020 -4.071 -2.956]


  resname  id unit_type                ca_coords            sidechain_com
0     GLY   4    type_1  [27.988 -53.306 31.392]                     None
1     MET   5    type_2  [26.410 -51.939 28.155]  [23.782 -52.619 26.048]
2     ASN   6    type_1  [27.313 -48.616 26.598]                     None
3     HIS   7    type_2  [26.298 -47.375 23.128]  [26.249 -50.502 22.392]
4     VAL   8    type_1  [26.078 -43.942 21.493]                     None


  resname  id unit_type                ca_coords            sidechain_com
0     ARG   3    type_2   [34.013 -52.250 7.749]   [34.063 -50.758 3.319]
1     GLY   4    type_1   [30.630 -53.783 8.584]                     None
2     MET   5    type_2  [28.528 -52.745 11.533]  [27.615 -49.743 12.898]
3     ASN   6    type_1  [25.759 -55.003 12.757]                     None
4     HIS   7    type_2  [23.466 -54.269 15.663]  [25.957 -52.514 16.629]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [32.050 -58.395 17.096]  [29.344 -59.055 13.444]
1      DT   2  [33.192 -64.374 17.839]  [35.204 -68.404 19.791]
2      DT   3  [31.547 -69.248 15.165]  [31.991 -70.295 19.747]
3      DT   4  [27.657 -74.083 13.748]  [24.578 -71.096 15.096]
4      DT   5  [23.449 -78.475 12.207]  [19.718 -75.564 13.413]

                  base_com
0  [34.228 -55.728 15.594]
1  [32.273 -60.654 19.909]
2  [30.303 -65.343 15.514]
3  [30.110 -71.308 12.130]
4  [27.774 -77.509 12.062]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [33.745 -52.612 23.922]  [32.598 -49.837 27.283]
1      DT   2  [39.967 -51.262 24.379]  [44.744 -51.305 23.596]
2      DT   3  [42.942 -47.081 27.113]  [44.901 -47.546 22.786]
3      DT   4  [44.871 -41.225 28.283]  [41.128 -40.309 26.137]
4      DT   5  [46.257 -35.440 30.234]  [42.117 -35.463 28.111]

                  base_com
0  [32.150 -55.703 25.229]
1  [36.792 -52.089 21.927]
2  [39.040 -48.000 26.258]
3  [43.403 -44.448 29.946]
4  [45.189 -39.282 31.578]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [28.308 -62.089 -5.628]  [24.637 -62.606 -2.592]
1      DT   2  [30.073 -56.184 -3.871]  [31.544 -58.180 -0.192]
2      DT   3  [34.672 -52.829 -1.935]  [35.119 -57.192 -1.300]
3      DT   5   [43.712 -50.575 5.813]   [41.551 -46.662 6.788]

                  base_com
0  [27.021 -65.434 -7.295]
1  [30.363 -59.299 -6.143]
2  [32.863 -53.920 -5.520]
3   [40.523 -50.751 3.415]


  resname  id          phosphate_com               sugar_com  \
0      DT   1   [2.975 4.165 -3.613]    [4.877 1.646 -7.018]
1      DT   2   [7.225 8.284 -3.600]   [9.867 12.270 -2.402]
2      DT   3  [12.409 8.710 -6.573]  [13.209 10.381 -2.346]
3      DT   4  [18.581 7.578 -7.635]   [17.753 3.600 -5.631]
4      DT   5  [23.568 5.474 -8.228]                    None

                base_com
0  [-0.657 3.568 -5.239]
1   [4.578 5.931 -1.168]
2   [9.570 5.953 -5.597]
3  [14.823 8.121 -9.555]
4  [21.384 8.801 -9.716]


  resname  id            phosphate_com                sugar_com  \
0      DT   1   [8.816 -0.722 -25.569]  [11.085 -2.791 -22.109]
1      DT   2   [2.511 -1.757 -24.295]    [3.427 0.888 -20.860]
2      DT   3  [-3.107 -0.155 -23.001]    [0.017 2.836 -21.150]

                  base_com
0  [12.750 -0.100 -26.576]
1    [5.341 0.271 -26.563]
2  [-0.593 -0.884 -26.198]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [30.767 -45.179 44.987]  [30.942 -41.911 42.181]
1      DT   2  [26.593 -49.732 43.780]  [29.672 -50.316 40.656]
2      DT   3  [25.904 -55.501 42.047]  [29.983 -53.860 41.780]

                  base_com
0  [34.124 -46.197 44.334]
1  [29.599 -48.153 46.198]
2  [25.440 -52.957 45.404]

In [ ]:
from src.Structure import Structure

structure1 = Structure("3UDG", structure)

In [ ]:
print(structure1)

Number of chains: 9
00. Chain type: protein
Number of units: 211
 01. Chain type: protein
Number of units: 214
 02. Chain type: protein
Number of units: 214
 03. Chain type: ssdna
Number of units: 5
 04. Chain type: ssdna
Number of units: 5
 05. Chain type: ssdna
Number of units: 4
 06. Chain type: ssdna
Number of units: 5
 07. Chain type: ssdna
Number of units: 3
 08. Chain type: ssdna
Number of units: 3

In [ ]:
structure1.save_as_markdown(show=True)

In [ ]:
from src.Point import Point
import numpy as np

In [ ]:
p = Point(np.array([0.213124312, 0, 0]))
print(p)

[0.213 0.000 0.000]

In [ ]:
for chain in structure1.chains:
    print(chain)

Chain type: protein
Number of units: 211

Chain type: protein
Number of units: 214

Chain type: protein
Number of units: 214

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 4

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 3

Chain type: ssdna
Number of units: 3

In [20]:
chain1 = structure1.chains[0]
for i in range(len(chain1.units)-1):
    ca_1 = chain1.units[i].coms["ca_coords"]
    ca_2 = chain1.units[i+1].coms["ca_coords"]

Name of the unit: ARG
ID of the unit: 3
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 4
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 4
Type of the unit: type_1
 Name of the unit: MET
ID of the unit: 5
Type of the unit: type_2

Name of the unit: MET
ID of the unit: 5
Type of the unit: type_2
 Name of the unit: ASN
ID of the unit: 6
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 6
Type of the unit: type_1
 Name of the unit: HIS
ID of the unit: 7
Type of the unit: type_2

Name of the unit: HIS
ID of the unit: 7
Type of the unit: type_2
 Name of the unit: VAL
ID of the unit: 8
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 8
Type of the unit: type_1
 Name of the unit: TYR
ID of the unit: 9
Type of the unit: type_2

Name of the unit: TYR
ID of the unit: 9
Type of the unit: type_2
 Name of the unit: LEU
ID of the unit: 10
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 10
Type of the unit: type_1
 Name of the unit: ILE
ID of the unit: 11
Type of the unit: type_2

Name of the unit: ILE
ID of the unit: 11
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 12
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 12
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 13
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 13
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 14
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 14
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 15
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 15
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 16
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 16
Type of the unit: type_2
 Name of the unit: ASP
ID of the unit: 17
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 17
Type of the unit: type_1
 Name of the unit: PRO
ID of the unit: 18
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 18
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 19
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 19
Type of the unit: type_2
 Name of the unit: LEU
ID of the unit: 20
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 20
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 21
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 21
Type of the unit: type_2
 Name of the unit: TYR
ID of the unit: 22
Type of the unit: type_2

Name of the unit: TYR
ID of the unit: 22
Type of the unit: type_2
 Name of the unit: THR
ID of the unit: 23
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 23
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 24
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 24
Type of the unit: type_1
 Name of the unit: ASN
ID of the unit: 25
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 25
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 26
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 26
Type of the unit: type_1
 Name of the unit: MET
ID of the unit: 27
Type of the unit: type_2

Name of the unit: MET
ID of the unit: 27
Type of the unit: type_2
 Name of the unit: ALA
ID of the unit: 28
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 28
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 29
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 29
Type of the unit: type_1
 Name of the unit: PHE
ID of the unit: 30
Type of the unit: type_2

Name of the unit: PHE
ID of the unit: 30
Type of the unit: type_2
 Name of the unit: GLU
ID of the unit: 31
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 31
Type of the unit: type_2
 Name of the unit: ALA
ID of the unit: 32
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 32
Type of the unit: type_1
 Name of the unit: THR
ID of the unit: 33
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 33
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 34
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 34
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 35
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 35
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 36
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 36
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 37
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 37
Type of the unit: type_2
 Name of the unit: ASP
ID of the unit: 38
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 38
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 39
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 39
Type of the unit: type_2
 Name of the unit: VAL
ID of the unit: 40
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 40
Type of the unit: type_1
 Name of the unit: ILE
ID of the unit: 41
Type of the unit: type_2

Name of the unit: ILE
ID of the unit: 41
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 42
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 42
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 47
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 47
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 48
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 48
Type of the unit: type_2
 Name of the unit: ASN
ID of the unit: 49
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 49
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 50
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 50
Type of the unit: type_1
 Name of the unit: PRO
ID of the unit: 51
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 51
Type of the unit: type_1
 Name of the unit: TRP
ID of the unit: 52
Type of the unit: type_2

Name of the unit: TRP
ID of the unit: 52
Type of the unit: type_2
 Name of the unit: TYR
ID of the unit: 53
Type of the unit: type_2

Name of the unit: TYR
ID of the unit: 53
Type of the unit: type_2
 Name of the unit: HIS
ID of the unit: 54
Type of the unit: type_2

Name of the unit: HIS
ID of the unit: 54
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 55
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 55
Type of the unit: type_2
 Name of the unit: VAL
ID of the unit: 56
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 56
Type of the unit: type_1
 Name of the unit: SER
ID of the unit: 57
Type of the unit: type_1

Name of the unit: SER
ID of the unit: 57
Type of the unit: type_1
 Name of the unit: ILE
ID of the unit: 58
Type of the unit: type_2

Name of the unit: ILE
ID of the unit: 58
Type of the unit: type_2
 Name of the unit: LEU
ID of the unit: 59
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 59
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 60
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 60
Type of the unit: type_1
 Name of the unit: LYS
ID of the unit: 61
Type of the unit: type_2

Name of the unit: LYS
ID of the unit: 61
Type of the unit: type_2
 Name of the unit: PRO
ID of the unit: 62
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 62
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 63
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 63
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 64
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 64
Type of the unit: type_2
 Name of the unit: TRP
ID of the unit: 65
Type of the unit: type_2

Name of the unit: TRP
ID of the unit: 65
Type of the unit: type_2
 Name of the unit: GLN
ID of the unit: 66
Type of the unit: type_2

Name of the unit: GLN
ID of the unit: 66
Type of the unit: type_2
 Name of the unit: ALA
ID of the unit: 67
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 67
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 68
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 68
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 69
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 69
Type of the unit: type_2
 Name of the unit: ASN
ID of the unit: 70
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 70
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 71
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 71
Type of the unit: type_1
 Name of the unit: LYS
ID of the unit: 72
Type of the unit: type_2

Name of the unit: LYS
ID of the unit: 72
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 73
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 73
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 74
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 74
Type of the unit: type_1
 Name of the unit: ASP
ID of the unit: 75
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 75
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 76
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 76
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 77
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 77
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 78
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 78
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 79
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 79
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 80
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 80
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 81
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 81
Type of the unit: type_1
 Name of the unit: THR
ID of the unit: 82
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 82
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 83
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 83
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 84
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 84
Type of the unit: type_2
 Name of the unit: TYR
ID of the unit: 85
Type of the unit: type_2

Name of the unit: TYR
ID of the unit: 85
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 86
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 86
Type of the unit: type_2
 Name of the unit: GLN
ID of the unit: 87
Type of the unit: type_2

Name of the unit: GLN
ID of the unit: 87
Type of the unit: type_2
 Name of the unit: TRP
ID of the unit: 88
Type of the unit: type_2

Name of the unit: TRP
ID of the unit: 88
Type of the unit: type_2
 Name of the unit: GLU
ID of the unit: 89
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 89
Type of the unit: type_2
 Name of the unit: ALA
ID of the unit: 90
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 90
Type of the unit: type_1
 Name of the unit: PRO
ID of the unit: 91
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 91
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 92
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 92
Type of the unit: type_2
 Name of the unit: GLY
ID of the unit: 93
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 93
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 94
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 94
Type of the unit: type_1
 Name of the unit: LYS
ID of the unit: 95
Type of the unit: type_2

Name of the unit: LYS
ID of the unit: 95
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 96
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 96
Type of the unit: type_2
 Name of the unit: SER
ID of the unit: 97
Type of the unit: type_1

Name of the unit: SER
ID of the unit: 97
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 98
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 98
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 99
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 99
Type of the unit: type_1
 Name of the unit: ASN
ID of the unit: 100
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 100
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 101
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 101
Type of the unit: type_1
 Name of the unit: LYS
ID of the unit: 102
Type of the unit: type_2

Name of the unit: LYS
ID of the unit: 102
Type of the unit: type_2
 Name of the unit: ALA
ID of the unit: 103
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 103
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 104
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 104
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 105
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 105
Type of the unit: type_2
 Name of the unit: MET
ID of the unit: 106
Type of the unit: type_2

Name of the unit: MET
ID of the unit: 106
Type of the unit: type_2
 Name of the unit: GLU
ID of the unit: 107
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 107
Type of the unit: type_2
 Name of the unit: GLN
ID of the unit: 108
Type of the unit: type_2

Name of the unit: GLN
ID of the unit: 108
Type of the unit: type_2
 Name of the unit: LEU
ID of the unit: 109
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 109
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 110
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 110
Type of the unit: type_1
 Name of the unit: THR
ID of the unit: 111
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 111
Type of the unit: type_1
 Name of the unit: GLN
ID of the unit: 112
Type of the unit: type_2

Name of the unit: GLN
ID of the unit: 112
Type of the unit: type_2
 Name of the unit: PRO
ID of the unit: 113
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 113
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 114
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 114
Type of the unit: type_2
 Name of the unit: LEU
ID of the unit: 115
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 115
Type of the unit: type_1
 Name of the unit: ILE
ID of the unit: 116
Type of the unit: type_2

Name of the unit: ILE
ID of the unit: 116
Type of the unit: type_2
 Name of the unit: GLN
ID of the unit: 117
Type of the unit: type_2

Name of the unit: GLN
ID of the unit: 117
Type of the unit: type_2
 Name of the unit: ASP
ID of the unit: 118
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 118
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 119
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 119
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 120
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 120
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 121
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 121
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 122
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 122
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 123
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 123
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 124
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 124
Type of the unit: type_2
 Name of the unit: MET
ID of the unit: 125
Type of the unit: type_2

Name of the unit: MET
ID of the unit: 125
Type of the unit: type_2
 Name of the unit: SER
ID of the unit: 126
Type of the unit: type_1

Name of the unit: SER
ID of the unit: 126
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 127
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 127
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 128
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 128
Type of the unit: type_1
 Name of the unit: MET
ID of the unit: 129
Type of the unit: type_2

Name of the unit: MET
ID of the unit: 129
Type of the unit: type_2
 Name of the unit: ASN
ID of the unit: 130
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 130
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 131
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 131
Type of the unit: type_2
 Name of the unit: VAL
ID of the unit: 132
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 132
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 133
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 133
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 134
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 134
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 135
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 135
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 136
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 136
Type of the unit: type_1
 Name of the unit: ASN
ID of the unit: 137
Type of the unit: type_1

Name of the unit: ASN
ID of the unit: 137
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 138
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 138
Type of the unit: type_1
 Name of the unit: THR
ID of the unit: 139
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 139
Type of the unit: type_1
 Name of the unit: ARG
ID of the unit: 140
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 140
Type of the unit: type_2
 Name of the unit: ASP
ID of the unit: 141
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 141
Type of the unit: type_1
 Name of the unit: PRO
ID of the unit: 142
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 142
Type of the unit: type_1
 Name of the unit: GLU
ID of the unit: 143
Type of the unit: type_2

Name of the unit: GLU
ID of the unit: 143
Type of the unit: type_2
 Name of the unit: ILE
ID of the unit: 144
Type of the unit: type_2

Name of the unit: ILE
ID of the unit: 144
Type of the unit: type_2
 Name of the unit: ARG
ID of the unit: 145
Type of the unit: type_2

Name of the unit: ARG
ID of the unit: 145
Type of the unit: type_2
 Name of the unit: TYR
ID of the unit: 146
Type of the unit: type_2

Name of the unit: TYR
ID of the unit: 146
Type of the unit: type_2
 Name of the unit: THR
ID of the unit: 147
Type of the unit: type_1

Name of the unit: THR
ID of the unit: 147
Type of the unit: type_1
 Name of the unit: PRO
ID of the unit: 148
Type of the unit: type_1

Name of the unit: PRO
ID of the unit: 148
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 149
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 149
Type of the unit: type_1
 Name of the unit: GLY
ID of the unit: 150
Type of the unit: type_1

Name of the unit: GLY
ID of the unit: 150
Type of the unit: type_1
 Name of the unit: ASP
ID of the unit: 151
Type of the unit: type_1

Name of the unit: ASP
ID of the unit: 151
Type of the unit: type_1
 Name of the unit: ALA
ID of the unit: 152
Type of the unit: type_1

Name of the unit: ALA
ID of the unit: 152
Type of the unit: type_1
 Name of the unit: VAL
ID of the unit: 153
Type of the unit: type_1

Name of the unit: VAL
ID of the unit: 153
Type of the unit: type_1
 Name of the unit: LEU
ID of the unit: 154
Type of the unit: type_1

Name of the unit: LEU
ID of the unit: 154
Type of the unit: type_1
 Name of the unit: SER
ID of the unit: 155
Type of the unit: type_1

Name of the unit: SER
ID of the unit: 155
Type of the unit: type_1