In [22]:
from Bio.PDB import PDBParser
from src.ChainUnit import ChainUnitGenerator
import os
import pandas as pd
import numpy as np

np.set_printoptions(
            formatter={"float": lambda x: "{0:0.3f}".format(x)},
            linewidth=100,
            suppress=True,
        )
np.set_printoptions(threshold=5)

In [2]:
pdb_path = "data/processed_pdbs/3UDG.pdb"
parser = PDBParser()
structure = parser.get_structure("3UDG", pdb_path)

chain = structure[0]["A"]

res = chain.get_residues().__next__()

/Users/marvinprakash/mambaforge/envs/bio/lib/python3.11/site-packages/Bio/PDB/PDBParser.py:395: PDBConstructionWarning: Ignoring unrecognized record 'END' at line 5502
  warnings.warn(

In [3]:
generator = ChainUnitGenerator()
chain_unit = generator.generate(res)

In [4]:
chain_unit

Name of the unit: ARG
ID of the unit: 3
Type of the unit: type_2
Center of masses: {'ca_coords': [-2.455 1.216 -13.840], 'sidechain_com': [-3.823 3.243 -9.949]}

In [5]:
chain_unit.coms

{'ca_coords': [-2.455 1.216 -13.840], 'sidechain_com': [-3.823 3.243 -9.949]}

In [6]:
chain_unit.to_dict()

{'resname': 'ARG',
 'id': 3,
 'ca_coords': [-2.455 1.216 -13.840],
 'sidechain_com': [-3.823 3.243 -9.949]}

In [7]:
from src.Chain import ChainGenerator

In [8]:
gen = ChainGenerator()

chain = gen.generate(chain)

In [28]:
from pprint import pprint as pp
pp(chain.distances)

{'bb': array([3.7318382, 3.7491426, 3.7097251, ..., 3.8165686, 3.829019 , 3.8735902], dtype=float32),
 'bs':    resname  distance
0      ARG  4.595774
1      MET  3.417751
2      HIS  3.175453
3      TYR  3.889624
4      ILE  2.393688
..     ...       ...
81     ARG  3.847656
82     GLU  3.512633
83     ARG  4.696457
84     GLU  2.929031
85     ARG  4.023056

[86 rows x 2 columns]}

In [29]:
pp(chain.angles)

{'bbb': array([142.56196945, 120.91707367, 127.49931562, ..., 111.69622262, 127.05194902, 127.94188246]),
 'bbs':    resname       angle
0      GLY  136.210745
1      ASN   80.419748
2      VAL   82.079066
3      LEU  118.721166
4      ALA  103.794029
..     ...         ...
80     THR   88.278482
81     VAL  142.443493
82     THR  129.749094
83     VAL   99.273487
84     ALA  127.795296

[85 rows x 2 columns],
 'sbb':    resname       angle
0      ARG   83.129474
1      MET   99.386493
2      HIS  144.573243
3      TYR  156.759283
4      ILE  130.257182
..     ...         ...
80     GLU  103.112214
81     ARG  135.314411
82     GLU  112.281932
83     ARG   94.201194
84     GLU  130.667096

[85 rows x 2 columns]}

In [11]:
pp(chain.dihedrals)

{'bbbb': array([174.414, 176.819, 156.150, 176.441, 170.352, 177.711, 170.305, 119.744, 88.622, 103.328,
       150.102, 22.310, 38.720, 125.327, 141.373, 149.188, 165.686, 131.226, 137.227, 94.698,
       53.324, 108.511, 156.027, 124.544, 169.524, 163.276, 168.233, 163.010, 132.702, 163.870,
       179.573, 140.399, 113.273, 149.842, 137.066, 159.780, 131.154, 73.523, 98.914, 137.896,
       136.898, 172.606, 161.998, 178.624, 161.441, 176.093, 132.591, 166.869, 167.262, 163.484,
       154.296, 5.244, 13.252, 58.777, 63.745, 41.851, 53.231, 48.515, 50.566, 63.859, 66.685,
       143.159, 172.898, 156.141, 70.064, 26.779, 131.607, 130.591, 175.539, 132.883, 164.806,
       168.265, 127.204, 109.396, 97.963, 158.291, 155.527, 172.408, 169.787, 153.450, 105.090,
       128.365, 118.488, 57.660, 99.231, 82.405, 72.745, 175.942, 179.013, 171.917, 134.546,
       164.843, 90.650, 165.596, 144.033, 174.675, 8.793, 173.677, 179.343, 116.878, 119.915,
       140.249, 65.505, 111.435, 147.197, 95.024, 147.248, 153.862, 133.425, 154.942, 104.108,
       53.839, 89.391, 116.172, 138.893, 163.962, 105.056, 136.112, 21.361, 165.018, 125.462,
       173.219, 158.587, 175.157, 175.666, 164.272, 166.882, 119.843, 69.252, 109.291, 156.171,
       0.195, 77.214, 140.199, 147.670, 117.278, 178.108, 129.711, 131.836, 95.758, 54.967,
       101.500, 147.681, 119.238, 178.937, 167.982, 148.857, 165.417, 161.764, 177.840, 139.090,
       159.902, 144.530, 171.124, 168.940, 146.576, 1.616, 79.287, 176.069, 143.864, 179.362,
       152.368, 160.605, 150.603, 177.798, 144.908, 167.544, 148.605, 167.807, 155.147, 34.742,
       9.141, 54.513, 51.221, 44.555, 51.685, 46.142, 109.972, 63.277, 128.123, 156.929, 81.819,
       23.271, 138.224, 129.216, 177.766, 144.148, 178.077, 174.005, 104.374, 52.709, 120.063,
       174.719, 122.805, 116.167, 48.355, 52.801, 168.704, 122.373, 149.728, 133.536, 169.471,
       15.266, 175.756, 169.771, 138.875, 150.067, 93.161]),
 'bbbs':    resname    dihedral
0      GLY   31.497602
1      ASN   23.923081
2      VAL   11.438883
3      LEU   20.206917
4      ALA  126.223752
..     ...         ...
80     THR   25.660358
81     VAL   58.022595
82     THR  159.751221
83     VAL    6.883259
84     ALA  113.374739

[85 rows x 2 columns],
 'sbbb':    resname    dihedral
0      ARG   49.410929
1      MET   21.029216
2      HIS    3.434827
3      TYR    6.789016
4      ILE   72.357181
..     ...         ...
80     GLU  168.878247
81     ARG   78.275748
82     GLU   28.601990
83     ARG    0.404488
84     GLU   63.635917

[85 rows x 2 columns],
 'sbbs': array([164.663, 167.969, 151.664, 120.246, 177.360, 105.402, 40.222, 18.172, 38.283, 84.803,
       176.705, 164.839, 135.334, 174.341, 161.812, 168.640, 152.916, 76.476, 114.493, 135.525,
       86.123, 132.578, 105.967, 56.996, 149.177, 168.505, 136.955, 156.266, 165.153, 136.727,
       39.831, 150.005, 8.940, 16.429, 162.606, 166.769])}

In [12]:
res = structure[0]["D"].get_residues().__next__()

In [13]:
from src.Structure import Structure

structure1 = Structure("3UDG", structure)

In [14]:
structure1.save_as_markdown()

In [15]:
print(structure1)

Number of chains: 9

Protein chains:

Chain 1: Type: protein
Number of units: 211

Chain 2: Type: protein
Number of units: 214

Chain 3: Type: protein
Number of units: 214

ssDna chains:

Chain 1: Type: ssdna
Number of units: 5

Chain 2: Type: ssdna
Number of units: 5

Chain 3: Type: ssdna
Number of units: 4

Chain 4: Type: ssdna
Number of units: 5

Chain 5: Type: ssdna
Number of units: 3

Chain 6: Type: ssdna
Number of units: 3

In [24]:
for key, value in structure1.protein_dihedrals.items():
    print(key)
    print(value)

bbbb
[174.41404925 176.81924571 156.14992504 ... 142.5358431  143.70220441  70.27381874]
sbbs
[164.66314734 167.9690875  151.66369423 ...  18.00866655 165.70982322 167.1433418 ]
sbbb
    resname   dihedral
0       ARG  49.410929
1       MET  21.029216
2       HIS   3.434827
3       TYR   6.789016
4       ILE  72.357181
..      ...        ...
253     GLU  83.416020
254     ARG  59.533293
255     GLU  22.182404
256     ARG   1.709127
257     GLU  62.401892

[258 rows x 2 columns]
bbbs
    resname    dihedral
0       GLY   31.497602
1       ASN   23.923081
2       VAL   11.438883
3       LEU   20.206917
4       ALA  126.223752
..      ...         ...
253     THR   10.694585
254     VAL   62.124150
255     THR  156.554364
256     VAL    5.203159
257     ALA   93.402924

[258 rows x 2 columns]

In [30]:
for key,value in structure1.ssdna_distances.items():
    print(key)
    print(value)

AttributeError: 'NoneType' object has no attribute 'items'