In [1]:
from Bio.PDB import PDBParser
from src.ChainUnit import ChainUnit
import os
import pandas as pd
import numpy as np

np.set_printoptions(
            formatter={"float": lambda x: "{0:0.3f}".format(x)},
            linewidth=100,
            suppress=True,
        )

# Same for pandas
pd.options.display.float_format = "{0:,0.3f}".format

In [2]:
pdb_path = "data/processed_pdbs/3UDG.pdb"
parser = PDBParser()
structure = parser.get_structure("3UDG", pdb_path)

/Users/marvinprakash/mambaforge/envs/bio/lib/python3.11/site-packages/Bio/PDB/PDBParser.py:395: PDBConstructionWarning: Ignoring unrecognized record 'END' at line 5502
  warnings.warn(

In [3]:
chain = structure[0]["D"]

res = chain.get_residues().__next__()
unit = ChainUnit(res)
print(unit.coms)

([32.050 -58.395 17.096], [29.344 -59.055 13.444], [34.228 -55.728 15.594])

In [4]:
unit.fidelity

True

In [5]:
unit.coms

([32.050 -58.395 17.096], [29.344 -59.055 13.444], [34.228 -55.728 15.594])

In [6]:
unit.to_dict()

{'resname': 'DT',
 'id': 1,
 'phosphate_com': [32.050 -58.395 17.096],
 'sugar_com': [29.344 -59.055 13.444],
 'base_com': [34.228 -55.728 15.594]}

In [7]:
from src.Chain import Chain

In [8]:
chain1 = Chain(chain)
print(chain1.df.head())

  resname  id            phosphate_com                sugar_com  \
0      DT   1  [32.050 -58.395 17.096]  [29.344 -59.055 13.444]
1      DT   2  [33.192 -64.374 17.839]  [35.204 -68.404 19.791]
2      DT   3  [31.547 -69.248 15.165]  [31.991 -70.295 19.747]
3      DT   4  [27.657 -74.083 13.748]  [24.578 -71.096 15.096]
4      DT   5  [23.449 -78.475 12.207]  [19.718 -75.564 13.413]

                  base_com
0  [34.228 -55.728 15.594]
1  [32.273 -60.654 19.909]
2  [30.303 -65.343 15.514]
3  [30.110 -71.308 12.130]
4  [27.774 -77.509 12.062]

In [9]:
for chain in structure[0]:
    print(Chain(chain))

Chain type: protein
Number of units: 211

Chain type: protein
Number of units: 214

Chain type: protein
Number of units: 214

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 4

Chain type: ssdna
Number of units: 5

Chain type: ssdna
Number of units: 3

Chain type: ssdna
Number of units: 3

In [10]:
for chain in structure[0]:
    print(Chain(chain).df.head())
    print("\n")

  resname  id unit_type                ca_coords           sidechain_com
0     ARG   3    type_2   [-2.455 1.216 -13.840]   [-3.823 3.243 -9.949]
1     GLY   4    type_1  [-0.123 -0.589 -11.553]                    None
2     MET   5    type_2   [-0.004 -2.524 -8.344]  [-2.114 -4.600 -6.635]
3     ASN   6    type_1    [3.231 -3.630 -6.904]                    None
4     HIS   7    type_2    [3.802 -5.462 -3.595]   [1.020 -4.071 -2.956]


  resname  id unit_type                ca_coords            sidechain_com
0     GLY   4    type_1  [27.988 -53.306 31.392]                     None
1     MET   5    type_2  [26.410 -51.939 28.155]  [23.782 -52.619 26.048]
2     ASN   6    type_1  [27.313 -48.616 26.598]                     None
3     HIS   7    type_2  [26.298 -47.375 23.128]  [26.249 -50.502 22.392]
4     VAL   8    type_1  [26.078 -43.942 21.493]                     None


  resname  id unit_type                ca_coords            sidechain_com
0     ARG   3    type_2   [34.013 -52.250 7.749]   [34.063 -50.758 3.319]
1     GLY   4    type_1   [30.630 -53.783 8.584]                     None
2     MET   5    type_2  [28.528 -52.745 11.533]  [27.615 -49.743 12.898]
3     ASN   6    type_1  [25.759 -55.003 12.757]                     None
4     HIS   7    type_2  [23.466 -54.269 15.663]  [25.957 -52.514 16.629]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [32.050 -58.395 17.096]  [29.344 -59.055 13.444]
1      DT   2  [33.192 -64.374 17.839]  [35.204 -68.404 19.791]
2      DT   3  [31.547 -69.248 15.165]  [31.991 -70.295 19.747]
3      DT   4  [27.657 -74.083 13.748]  [24.578 -71.096 15.096]
4      DT   5  [23.449 -78.475 12.207]  [19.718 -75.564 13.413]

                  base_com
0  [34.228 -55.728 15.594]
1  [32.273 -60.654 19.909]
2  [30.303 -65.343 15.514]
3  [30.110 -71.308 12.130]
4  [27.774 -77.509 12.062]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [33.745 -52.612 23.922]  [32.598 -49.837 27.283]
1      DT   2  [39.967 -51.262 24.379]  [44.744 -51.305 23.596]
2      DT   3  [42.942 -47.081 27.113]  [44.901 -47.546 22.786]
3      DT   4  [44.871 -41.225 28.283]  [41.128 -40.309 26.137]
4      DT   5  [46.257 -35.440 30.234]  [42.117 -35.463 28.111]

                  base_com
0  [32.150 -55.703 25.229]
1  [36.792 -52.089 21.927]
2  [39.040 -48.000 26.258]
3  [43.403 -44.448 29.946]
4  [45.189 -39.282 31.578]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [28.308 -62.089 -5.628]  [24.637 -62.606 -2.592]
1      DT   2  [30.073 -56.184 -3.871]  [31.544 -58.180 -0.192]
2      DT   3  [34.672 -52.829 -1.935]  [35.119 -57.192 -1.300]
3      DT   5   [43.712 -50.575 5.813]   [41.551 -46.662 6.788]

                  base_com
0  [27.021 -65.434 -7.295]
1  [30.363 -59.299 -6.143]
2  [32.863 -53.920 -5.520]
3   [40.523 -50.751 3.415]


  resname  id          phosphate_com               sugar_com  \
0      DT   1   [2.975 4.165 -3.613]    [4.877 1.646 -7.018]
1      DT   2   [7.225 8.284 -3.600]   [9.867 12.270 -2.402]
2      DT   3  [12.409 8.710 -6.573]  [13.209 10.381 -2.346]
3      DT   4  [18.581 7.578 -7.635]   [17.753 3.600 -5.631]
4      DT   5  [23.568 5.474 -8.228]                    None

                base_com
0  [-0.657 3.568 -5.239]
1   [4.578 5.931 -1.168]
2   [9.570 5.953 -5.597]
3  [14.823 8.121 -9.555]
4  [21.384 8.801 -9.716]


  resname  id            phosphate_com                sugar_com  \
0      DT   1   [8.816 -0.722 -25.569]  [11.085 -2.791 -22.109]
1      DT   2   [2.511 -1.757 -24.295]    [3.427 0.888 -20.860]
2      DT   3  [-3.107 -0.155 -23.001]    [0.017 2.836 -21.150]

                  base_com
0  [12.750 -0.100 -26.576]
1    [5.341 0.271 -26.563]
2  [-0.593 -0.884 -26.198]


  resname  id            phosphate_com                sugar_com  \
0      DT   1  [30.767 -45.179 44.987]  [30.942 -41.911 42.181]
1      DT   2  [26.593 -49.732 43.780]  [29.672 -50.316 40.656]
2      DT   3  [25.904 -55.501 42.047]  [29.983 -53.860 41.780]

                  base_com
0  [34.124 -46.197 44.334]
1  [29.599 -48.153 46.198]
2  [25.440 -52.957 45.404]

In [11]:
from src.Structure import Structure

structure1 = Structure("3UDG", structure)

In [12]:
print(structure1)

Number of chains: 9
00. Chain type: protein
Number of units: 211
 01. Chain type: protein
Number of units: 214
 02. Chain type: protein
Number of units: 214
 03. Chain type: ssdna
Number of units: 5
 04. Chain type: ssdna
Number of units: 5
 05. Chain type: ssdna
Number of units: 4
 06. Chain type: ssdna
Number of units: 5
 07. Chain type: ssdna
Number of units: 3
 08. Chain type: ssdna
Number of units: 3

In [13]:
structure1.save_as_markdown(show=True)

In [1]:
from src.Point import Point
import numpy as np

In [2]:
p = Point(np.array([0.213124312, 0, 0]))
print(p)

Point([0.213 0.000 0.000])